body{
  font-family: 'Arial', sans-serif;
}

header{
border-bottom:2px solid #2d3c49;
padding: 1%;
}

.logo{
  float:left;
}

.logo img{
  width:75%;
}

.vCard{
  float:right;
  text-align: right;
}
 .name{
  font-size: 2.5em;
}

.clear-fix{
  clear: both;
  overflow: auto;
}

.cpeciality{
  font-size: 1.5em;
}

h1,h2{
  text-align: center;
  margin-bottom: 0.3%;
}


h1{
  font-family: "Petit Formal Script", cursive;
  font-size: 2.5em;
}

.general-notes{
  text-align: center;
  display: block;
}

.slider{
  width: 55%;
  display: block;
  /* border: 1px solid blue; */
  margin: 1% auto;
}

.window-frame{
  /* border: 1px solid red; */
  position: relative;
}

.window{
  display: block;
  width: 90%;
  /* border: 1px solid blue; */
  margin: 0 auto;
  background-color: black;
  box-shadow: 10px 10px 5px black;
}


.post-it{
  width: 100%;
  height: 7%;
  position: absolute;
  bottom: 0;
  background-color: #cccccc;
  opacity: 0.75;
  color: black;
  padding: 0.2% 0.2%;
  font-size: 1.4em;
}

.window .frame:nth-of-type(4) .post-it{
  height: 15%;
}



/* .window img:nth-of-type(1){
  display: block;

} */

.arrows{
  font-size: 2em;
  border-radius: 5px;
  padding: 0.5%;
  width: 2.5%;
  background: linear-gradient(#e5e5e5,#aaaaaa);
  position: absolute;
  top: 45%;
  box-shadow: 5px 5px 5px black;
}


#right-arrow{
  right: 0;
}

.arrows:active {
  box-shadow: 2px 2px black;
  transform: translateY(2px);
}

.tape-frame{
  display: block;
  margin:3% 0.5%;
  margin-bottom: 5%;
}

.tape .small-pic{
  display: inline-block;
  width: 21%;
  margin: 0 0.5%;
}

.small-pic label img{
  width: 100%;
}


#photo-book{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
  grid-gap:0.5%;
}

#photo-book .neighborhoods{
  position: relative;
  margin-bottom: 1%;
}

#photo-book .neighborhoods img{
  width: 100%;
}

#photo-book .neighborhoods .area-name{
  position: absolute;
  height: 20%;
  bottom: 0;
  left:0;
  width: 100%;
  color: black;
  font-size: 2.5em;
  background-color: #aaaaaa;
  opacity: 0.8;
  padding: 0.5%;
  font-family: "Petit Formal Script", cursive;
}

footer{
  border-top: 2px solid #2d3c49;
  width: 100%;
  height: 30px;
  margin-top: 2%;
  text-align: right;
  position: relative;
  padding: 1% 0%;
  color: #02b3e4;
  background-color: #eeeeee;
}



/*Slider window logic -------------------------------*/

input{
   display: none;
}

.window .frame {
  width: 100%;
  height: 100%;
  display: none;
  position: relative;
  padding: 0;
}

.window .frame img{
  width:100%;
}

#first:checked ~ .slider .window-frame .window .frame:nth-of-type(1){
  display:block;
}

#second:checked ~ .slider .window-frame .window .frame:nth-of-type(2){
  display:block;
}

#third:checked ~ .slider .window-frame .window .frame:nth-of-type(3){
  display:block;
}

#forth:checked ~ .slider .window-frame .window .frame:nth-of-type(4){
  display:block;
}



/* Buttons logic ------------------------------------------------*/

.arrows label{
  display: none;
}

#first:checked ~ .slider .window-frame #left-arrow label:nth-of-type(4),
#second:checked ~ .slider .window-frame #left-arrow label:nth-of-type(1),
#third:checked ~ .slider .window-frame #left-arrow label:nth-of-type(2),
#forth:checked ~ .slider .window-frame #left-arrow label:nth-of-type(3){
  display:inline;
}

#first:checked ~ .slider .window-frame #right-arrow label:nth-of-type(2),
#second:checked ~ .slider .window-frame #right-arrow label:nth-of-type(3),
#third:checked ~ .slider .window-frame #right-arrow label:nth-of-type(4),
#forth:checked ~ .slider .window-frame #right-arrow label:nth-of-type(1){
  display:inline;
}

/* tape-frame logic ------------------------------------*/

#first:checked~ .slider .tape-frame .tape .small-pic:nth-of-type(1),
#second:checked~ .slider .tape-frame .tape .small-pic:nth-of-type(2),
#third:checked~ .slider .tape-frame .tape .small-pic:nth-of-type(3),
#forth:checked~ .slider .tape-frame .tape .small-pic:nth-of-type(4){
  width: 29%;
  transform: translateY(5%);
  box-shadow: 10px 10px 5px black;

}
