
body{
  font-family: 'Arial', sans-serif;
}

.wrap{
  width: 100%;
  height: 100%;
}

header{
  width: 100%;
  height: 100px;
  /* text-align: right; */
  border-bottom: 2px solid #2d3c49;
  margin-bottom: 1%;
  font-size: 1.7em;
  color: black;
  clear: both;
}


.fname{
  font-size: 1.5em;
}

.specialty{
  font-size: 1em;
}

.logo{
  float:left;
}

.vCard{
  text-align: right;
  float:right;
}

.logo img{
  width: 75%;
}

main{
  width: 100%;
}

main div{
  display: inline-block;
}

h1,h2{
  text-align: center;
  margin-bottom: 1%;
}
main p{
  text-align: center;
  margin-top: 0;
}

h1{
  font-family: "Petit Formal Script", cursive;
  font-size:2.5em;
  margin-top: 2%;
}

input{
  display:none;
}

.field{
  width: 24%;
  position: relative;
}

#left-field{
  bottom: 260px;
  left: -5px;

}

#right-field{
  bottom: 260px;
  right:0.5%;
}

.arrows{
  width:20px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 2em;
  font-family: "sans-serif";
  padding: 0 5%;
  background: linear-gradient(#e5e5e5,#aaaaaa);
  box-shadow: 3px 3px 3px black;
}


.arrows:active {
  box-shadow: 0 2px black;
  transform: translateY(2px);
}

#slider{
  width:50%;
  height: 430px;
  margin-bottom: 7%;
}

#window{
  width: 98%;
  height: 75%;
  margin-top: 1%;
  margin-bottom: 5%;
  padding: 0.1%;
  padding-left: 0.2%;
  overflow: hidden;
  background-color: black;
  box-shadow: 10px 10px 5px #111111;
}

#film{
  width: 412%;
  height: 100%;
  position: relative;
}

#film div{
  display:inline-block;
  width: 24.3%;
  height: 100%;
  margin-right: 0.15%;
}

#film div img{
  width: 100%;
}

#film div .post-it{
  width:15%;
  height: 7%;
  position: absolute;
  bottom: 0;
  background-color: #cccccc;
  opacity: 0.75;
  color: black;
  padding: 0.2% 0.2%;
  font-size: 1.4em;

}

#film div:nth-of-type(4) .post-it{
  font-size: 1em;
  height: 10%;
}

#slider-box{
  position: relative;
  padding: 0.2%;
  z-index: 100;
  height: 19%;
  top:5%;
  background-color: #aaaaaa;
}

#slider-box img{
  max-width: 23%;
  margin-left: 0.4%;
  margin-right: 0;
  margin-top: -2.5%;
}

#photo-book{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
  grid-gap:0.5%;
}

#photo-book .neighborhoods{
  position: relative;
  margin-bottom: 1%;
}

#photo-book .neighborhoods img{
  width: 100%;
}

#photo-book .neighborhoods .area-name{
  position: absolute;
  height: 20%;
  bottom: 0;
  left:0;
  width: 100%;
  color: black;
  font-size: 2.5em;
  background-color: #aaaaaa;
  opacity: 0.8;
  padding: 0.5%;
  font-family: "Petit Formal Script", cursive;
}

footer{
  border-top: 2px solid #2d3c49;
  width: 100%;
  height: 30px;
  margin-top: 2%;
  text-align: right;
  position: relative;
  padding: 1% 0%;
  color: #02b3e4;
  background-color: #eeeeee;
}

#left-arrow{
  float: right;
}

#left-arrow::after{
  content: " ";
  float: none;
}

/*Slider window logic -------------------------------*/

#first:checked ~ #slider #window #film{
  left:0;
  transition: left 1s ease-in;
}

#second:checked ~ #slider #window #film{
  left:-101%;
  transition: left 1s ease-in;
}

#third:checked ~ #slider #window #film{
  left:-202%;
  transition: left 1s ease-in;
}

#forth:checked ~ #slider #window #film{
  left:-304%;
  transition: left 1s ease-in;
}

.field .arrows label{
  display: none;
}

#first:checked ~ .field #left-arrow label:nth-of-type(4),
#second:checked ~ .field #left-arrow label:nth-of-type(1),
#third:checked ~ .field #left-arrow label:nth-of-type(2),
#forth:checked ~ .field #left-arrow label:nth-of-type(3){
  display:inline;
}

#first:checked ~ .field #right-arrow label:nth-of-type(2),
#second:checked ~ .field #right-arrow label:nth-of-type(3),
#third:checked ~ .field #right-arrow label:nth-of-type(4),
#forth:checked ~ .field #right-arrow label:nth-of-type(1){
  display:inline;
}

/* Slider-box logic ------------------------------------*/

#first:checked~ #slider #slider-box label:nth-of-type(1) img,
#second:checked~ #slider #slider-box label:nth-of-type(2) img,
#third:checked~ #slider #slider-box label:nth-of-type(3) img,
#forth:checked~ #slider #slider-box label:nth-of-type(4) img {
  max-width: 27%;
  margin-left: 0;
  margin-right: 0;
  box-shadow: 5px 5px 5px #111111;
  z-index: 200;
  position: relative;
  top:7%;
}

/* Responsiveness--------------------------------------- */

@media screen and (min-width:350px) and (max-width:499px){
  header{
    height: 70px;
    font-size: 1em;
  }

  h1{
   font-size: 1.5em;
  }

  .logo img{
    width: 50%;
  }

  #slider{
    width:99%;
    height: 300px;
  }

  #slider-box img{
    max-width: 23%;
    margin-left: 0.1%;
    margin-right: 0;
  }

  #film div .post-it{
    width:24%;
    height: 10%;
    font-size: 1.1em;
  }

  #film div:nth-of-type(4) .post-it{
    font-size: 1em;
    height: 15%;
  }

 #photo-book .neighborhoods .area-name{
    font-size: 1.3em;
  }

  .field{
    width:50px;
    height:50px;
    z-index: 200;
    position: absolute;
  }

  #left-field{
    left:-3%;
    bottom: 45%;
  }

  #right-field{
    bottom: 45%;
    right:1%;
  }

  .footer-content{
    font-size: 0.7em;
  }
}


 @media screen and (min-width:500px) and (max-width:699px){
   #slider{
     width:97%;
     height: 430px;
   }

   #slider-box img{
     max-width: 23%;
     margin-left: 0.1%;
     margin-right: 0;
   }

   #photo-book .neighborhoods .area-name{
      font-size: 1.7em;
    }

   .field{
     width:50px;
     height:50px;
     z-index: 200;
     position: absolute;
   }

   #left-field{
     left:-1%;
     bottom: 25%;
   }

   #right-field{
     bottom: 25%;
     right:4.5%;
   }

   #film div .post-it{
     width:24%;
     height: 10%;
     font-size: 1.1em;
   }
 }

 @media screen and (min-width:700px) and (max-width:899px){
   #slider{
     width:84%;
     height: 430px;
   }

   .field{
     width:7%;
   }

   #film div .post-it{
     width:24%;
     height: 10%;
     font-size: 1.1em;
   }

   #photo-book .neighborhoods .area-name{
      font-size: 1.9em;
    }

   .arrows button {
     font-size: 1.3em;
   }
 }

@media screen and (min-width:900px) and (max-width:1200px){
  #slider{
    width:57%;
    height: 430px;
  }

  .field{
    width:20%;
  }
  #photo-book .neighborhoods .area-name{
     font-size: 1.9em;
   }

  .arrows button {
    font-size: 1.7em;
  }

  #film div .post-it{
    width:24%;
    height: 7%;
    font-size: 1.1em;
  }
}
