body {
  font-family: "Arial", sans-serif;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
  "top-part"
  "middle-part"
  "low-part"
  "footer";
}

header {
  grid-area: top-part;
  border-bottom:2px solid #2d3c49;
  padding: 1%;
  margin-bottom: 5%;
  position: relative;
}

main{
  grid-area:middle-part;
}

.low-part{
  grid-area: low-part;
}

.logo {
  float:left;
}

.logo-image {
  width:75%;
}

.v-card {
  position: absolute;
  right: 0;
  text-align: right;
  font-size: 2.5em;
}

.clear-fix {
  clear: both;
  overflow: auto;
}

.speciality {
  font-size: 0.8em;
  margin: 0;
}

h1 {
  font-family: "Petit Formal Script", cursive;
  font-size: 2.5em;
  margin: 0;
  text-align: center;
}

h2 {
  margin: 3% 0;
  text-align: center;
}

.general-notes {
  text-align: center;
  display: block;
}

.slider {
  width: 55%;
  display: block;
  margin: 1% auto;
}

.window-frame {
  position: relative;
}

.window {
  display: block;
  width: 87%;
  margin: 0 auto;
  background-color: black;
  box-shadow: 10px 10px 5px black;
}

.post-it {
  width: 96%;
  height: 7%;
  position: absolute;
  bottom: 0;
  background-color: #ccc;
  opacity: 0.9;
  color: black;
  padding: 1% 2%;
  font-size: 1.4em;
}

.window .frame:nth-of-type(4) .post-it {
  height: 15%;
}

.arrows {
  border-radius: 3px;
  width: 5%;
  position: absolute;
  top: 45%;
  box-shadow: 5px 5px 5px black;
  overflow: hidden;
}

#right-arrow {
  right: 0;
}

.arrows:active {
  box-shadow: 2px 2px black;
  transform: translateY(2px);
}

.tape-frame {
  display: block;
  margin: 3% auto;
  margin-bottom: 10%;
  position: relative;
}

.substrate {
  position: absolute;
  height: 55%;
  bottom: 13%;
  left: 5%;
  width: 85%;
  background-color: grey;
}

.tape .small-pic {
  display: inline-block;
  width: 20.1%;
  margin: 3% 0.5%
  z-index:100;
  position: relative;
  margin-right: 1%;
  transform: translateX(17%);
}

.small-pic label img {
  width: 100%;
}

#photo-book {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
  grid-gap:0.5%;
}

.neighborhoods {
  position: relative;
  margin-bottom: 1%;
}

.neighborhoods img {
  width: 100%;
}

.area-name {
  position: absolute;
  height: 20%;
  bottom: 0;
  left:0;
  width: 100%;
  color: black;
  font-size: 2.5em;
  background-color: #aaa;
  opacity: 0.8;
  padding: 0.5%;
  font-family: "Petit Formal Script", cursive;
}

footer {
  grid-area: footer;
  border-top: 2px solid #2d3c49;
  width: 100%;
  height: 30px;
  margin-top: 2%;
  text-align: right;
  position: relative;
  padding: 1% 0%;
  color: #02b3e4;
  background-color: #eee;
}

/*Slider window logic -------------------------------*/

input {
   display: none;
}

.window .frame {
  width: 100%;
  height: 100%;
  display: none;
  position: relative;
  padding: 0;
}

.window .frame img {
  width:100%;
}

#first:checked ~ .slider .window-frame .window .frame:nth-of-type(1) {
  display:block;
}

#second:checked ~ .slider .window-frame .window .frame:nth-of-type(2) {
  display:block;
}

#third:checked ~ .slider .window-frame .window .frame:nth-of-type(3) {
  display:block;
}

#forth:checked ~ .slider .window-frame .window .frame:nth-of-type(4) {
  display:block;
}

/* Buttons logic ------------------------------------------------*/

.arrows label img {
  display: none;
}

#first:checked ~ .slider .window-frame #left-arrow label:nth-of-type(4) img,
#second:checked ~ .slider .window-frame #left-arrow label:nth-of-type(1) img,
#third:checked ~ .slider .window-frame #left-arrow label:nth-of-type(2) img,
#forth:checked ~ .slider .window-frame #left-arrow label:nth-of-type(3) img {
  display:block;
  width: 100%;
}

#first:checked ~ .slider .window-frame #right-arrow label:nth-of-type(2) img,
#second:checked ~ .slider .window-frame #right-arrow label:nth-of-type(3) img,
#third:checked ~ .slider .window-frame #right-arrow label:nth-of-type(4) img,
#forth:checked ~ .slider .window-frame #right-arrow label:nth-of-type(1) img {
  display:block;
  width: 100%;
}


/* tape-frame logic ---------------------------------------*/

#first:checked~ .slider .tape-frame .tape .small-pic:nth-of-type(2),
#second:checked~ .slider .tape-frame .tape .small-pic:nth-of-type(3),
#third:checked~ .slider .tape-frame .tape .small-pic:nth-of-type(4),
#forth:checked~ .slider .tape-frame .tape .small-pic:nth-of-type(5) {
  width: 29%;
  transform: translateY(3%);
  transform: translateX(9%);
  box-shadow: 10px 10px 5px black;
  z-index:200;
}


/* Responsiveness with Media query ------------------------------------ */

@media screen and (min-width:700px) and (max-width:1200px) {

.slider {
    width: 75%;
}

.v-card {
   font-size: 2.3em;
}

.speciality {
   font-size: 0.7em;
}

h1 {
   font-size: 2.3em;
}

 .window .frame:nth-of-type(4) .post-it {
   font-size: 1.2em;
}

.area-name {
    font-size: 2em;
  }
}

@media screen and (min-width:500px) and (max-width:699px) {

.slider {
    width: 85%;
}

.logo-image {
    width: 50%;
}

.v-card {
   font-size: 2.1em;
}

.speciality {
   font-size: 0.6em;
}

 h1 {
   font-size: 2em;
}

.post-it {
  font-size: 1.1em;
}

.window .frame:nth-of-type(4) .post-it {
  font-size: 1em;
}

.area-name {
    font-size: 1.7em;
}
}


@media screen and (min-width:300px) and (max-width:499px) {

.slider {
    width: 95%;
}

.logo-image {
    width: 35%;
}

.v-card {
   font-size: 1.6em;
}

.speciality {
   font-size: 0.5em;
 }

h1 {
   font-size: 1.5em;
}

.post-it {
  font-size: 0.8em;
}

.window .frame:nth-of-type(4) .post-it {
  font-size: 0.7em;
  height: 13%;
}

h2 {
  font-size: 1.3em;
}

.area-name {
  font-size: 1.5em;
}

.footer-content {
  font-size: 0.7em;
  text-align: left;
}
}
