body{
  font-family: 'Arial', sans-serif;
  height: 100%;
}

header{
border-bottom:2px solid #2d3c49;
padding: 1%;
}

.logo{
  float:left;
}

.vCard{
  float:right;
}
 .fname{
  float: right;
}

.clear-fix{
  clear: both;
  overflow: auto;
}

h1{
  text-align: center;
}
.general-notes{
  text-align: center;
  display: block;
}
.slider{


  position: relative;
  left: 25%;
}
.window-frame>div{
  display: inline-block;
}
/* .window-frame .arrows:nth-of-type(1){
  margin-left: auto;
}
.window-frame .arrows:nth-of-type(2){
  margin-right: auto;
} */

.arrows{
  font-size: 2em;
  padding: 0 0.5%;
  border-radius: 5px;
  background: linear-gradient(#e5e5e5,#aaaaaa);
  position: relative;
  bottom: 150px;
}
.film{
  padding: 0 0;
}
.film .film-frame{
  display: none;
  padding: 0 0;
}
.film .film-frame:nth-of-type(1){
  display: inline-block;
}

.tape-frame{
  height: 50px;
  margin: auto;
}
